*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

body{
   display: flex;
   
   justify-content: space-evenly;
   color: #172339;
   
}

main{
    
    z-index: 200;
}



/* 
  ##Device = Desktops
  
*/

@media (min-width: 1281px) {
   .top-section-mobile{
      display: none;
  }
 
header{
    position: absolute;
    display: flex;
    width: 61.60rem;
    height: 3.11rem;
    align-items: center;
    margin: 2.78rem 9.23rem;
    left: 0;
}

.mobile-tablet-logo{
    display: none;
}

.logo-img{
    flex: 1;
}

.logo-img img{
    width: 4.356rem;
    height: 1.378rem;;
}


.nav-button button{
    height: 3.5rem;
    width: 13.69rem;
    border-radius: 0.33rem;
    background: transparent;
    /* color: #172339; */
    font-size: 1.125rem;
    font-weight: bold;
}


/* Top section css */

.top-section-desktop-tablet{
    background: url("../assets/image-hero-portrait.webp");
    position: relative;
    top: 9.61rem;
    width: 61.67rem;
    height:33.33rem ;
    background-repeat: no-repeat;
    background-position: 26rem;
}


.top-section-data-left img{
position: relative;
left: 17rem;
margin-bottom: 1rem;
}

.top-section-data{
    display: flex;
    
}

.top-section-data-left{
    margin-top: 3rem;
   flex: 1;    
}


.top-section-data-left h1{
    width: 35.78rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: -0.056;
    margin-bottom: 2.22rem;
   
}

.top-section-data-left h1 span{
    font-weight: bold;
}

.top-section-data-left p{
    width: 19.44rem;
    height: 5.33rem;
    font-weight: 400;
    line-height: 1.78rem;
    letter-spacing: 0.0056rem;
    color: #49566D;
}

.top-section-data-left button{
 height: 3.389rem;
    width: 14.22rem;
    border-radius: 0.33rem;
    background-color: #172339;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 2.22rem;
}


.top-section-data-right{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    justify-content: space-between;
    
}


.ratings p{
    color: #49566D;
    line-height: 1.44rem;
    font-weight: 400;
    font-size: 0.889rem;
}

.ratings h1{
    line-height: 3.11rem;
    font-weight: 700;
    font-size: 2.67rem;
}


/* end of Top section css */


/* bottom-section css */

.back-light{
    position: absolute;
}

.bottom-section-desktop-tablet{
    position: absolute;
    height: 30.278rem;
    width: 61.61rem;
    left: 9.278;
    top: 54rem;
    border-radius: 0.833rem;
    background-color:#172339;
    display: flex;
   
   

}

.image-jeremy{
    
    height: 32.753rem;
    width: 19.989rem;
}


.image-jeremy img{
    position: relative;
    left: 6.749rem;
    bottom: 2.475rem;
    width: auto;
    height: 100%;

}

.curved-image{
    position: relative;
    top: 9rem;
    left: 9rem;
    

}


.right-text{
    display: flex;
    flex-direction: column;
    color:  #FAF8F6;
    justify-content: space-evenly;
    /* position: relative;
    left: 10rem; */
    margin-left: 12.22rem;
    margin-right: 7rem;
}
 

.right-text h2{
font-weight: 400rem;
font-size: 2.67rem;
line-height: 3.1rem;
}

.right-text p{
    color: #F3EDE7;
    font-weight: 400;
    font-size: 1.11rem;
    line-height: 1.94rem ;
    width: 19.44rem;
}

.right-text h3{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.77;
    color: #FAF8F6;
}

.right-text h4{

    font-weight: 400;
    font-size: 0.889rem;
    letter-spacing: 0.1389rem;
    color: #F3EDE7;
}

.image-jeremy-tablet{
    display: none;
}

.image-jeremy-mobile{display: none;}
/* end of bottom css */



/* footer */


footer{
    position:  absolute;
    height: 25.778rem;
    width: 100%;
    top: 69.55rem;
    background-color: #F3EDE7;
    z-index: 100;
}

.footer-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 61.61rem;
    height: 1.78rem;
    left: 7rem;
    bottom: 4rem;
}

.copyright-info span{
    font-size: 0.83rem;
    font-weight: 400;
    line-height: 1.78rem;
}

.footer-socials ul li{
    display: inline;
    padding: 0.5rem;
   
  
}

.footer-logo{
font-size: 1.78rem;
font-weight: 700;
line-height: 1.78rem;
}

}





/* 
  Device = Laptops, Desktops
 
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
 .top-section-mobile{
      display: none;
  }
header{
    position: absolute;
    display: flex;
    width: 61.60rem;
    height: 3.11rem;
    align-items: center;
    margin: 2.78rem 9.23rem;
}

.mobile-tablet-logo{
    display: none;
}

.logo-img{
    flex: 1;
}

.logo-img img{
    width: 4.356rem;
    height: 1.378rem;;
}


.nav-button button{

    height: 3.5rem;
    width: 13.69rem;
    border-radius: 0.33rem;
    background-color: transparent;
    /* color: #172339; */
    font-size: 1.125rem;
    font-weight: bold;
}


/* Top section css */

.top-section-desktop-tablet{
    background: url("../assets/image-hero-portrait.webp");
    position: relative;
    top: 9.61rem;
    width: 61.67rem;
    height:33.33rem ;
    background-repeat: no-repeat;
    background-position: 26rem;
}


.top-section-data-left img{
position: relative;
left: 17rem;
margin-bottom: 1rem;
}

.top-section-data{
    display: flex;
    
}

.top-section-data-left{
    margin-top: 3rem;
   flex: 1;    
}


.top-section-data-left h1{
    width: 35.78rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: -0.056;
    margin-bottom: 2.22rem;
   
}

.top-section-data-left h1 span{
    font-weight: bold;
}

.top-section-data-left p{
    width: 19.44rem;
    height: 5.33rem;
    font-weight: 400;
    line-height: 1.78rem;
    letter-spacing: 0.0056rem;
    color: #49566D;
}

.top-section-data-left button{
 height: 3.389rem;
    width: 14.22rem;
    border-radius: 0.33rem;
    background-color: #172339;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 2.22rem;
}


.top-section-data-right{
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    justify-content: space-between;
    
}


.ratings p{
    color: #49566D;
    line-height: 1.44rem;
    font-weight: 400;
    font-size: 0.889rem;
}

.ratings h1{
    line-height: 3.11rem;
    font-weight: 700;
    font-size: 2.67rem;
}


/* end of Top section css */


/* bottom-section css */
.back-light{
    position: absolute;
}
.bottom-section-desktop-tablet{
    position: absolute;
    height: 30.278rem;
    width: 61.61rem;
    left: 9.278;
    top: 54rem;
    border-radius: 0.833rem;
    background-color:#172339;
    display: flex;
   

}

.image-jeremy{
    
    height: 32.753rem;
    width: 19.989rem;
}


.image-jeremy img{
    position: relative;
    left: 6.749rem;
    bottom: 2.475rem;
    width: auto;
    height: 100%;

}

.curved-image{
    position: relative;
    top: 9rem;
    left: 9rem;
   

}


.right-text{
    display: flex;
    flex-direction: column;
    color:  #FAF8F6;
    justify-content: space-evenly;
    margin-left: 12.22rem;
    margin-right: 7rem;
}
 

.right-text h2{
font-weight: 400rem;
font-size: 2.67rem;
line-height: 3.1rem;
}

.right-text p{
    color: #F3EDE7;
    font-weight: 400;
    font-size: 1.11rem;
    line-height: 1.94rem ;
    width: 19.44rem;
}

.right-text h3{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.77;
    color: #FAF8F6;
}

.right-text h4{

    font-weight: 400;
    font-size: 0.889rem;
    letter-spacing: 0.1389rem;
    color: #F3EDE7;
}

.image-jeremy-tablet{
    display: none;
}

.image-jeremy-mobile{display: none;}

/* end of bottom css */

/* footer */

footer{
    position:  absolute;
    height: 25.778rem;
    width: 100%;
    top: 69.55rem;
    background-color: #F3EDE7;
    z-index: 100;
}

.footer-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 61.61rem;
    height: 1.78rem;
    left: 7rem;
    bottom: 4rem;
}

.copyright-info span{
    font-size: 0.83rem;
    font-weight: 400;
    line-height: 1.78rem;
}

.footer-socials ul li{
    display: inline;
    padding: 0.5rem;
   
  
}

.footer-logo{
font-size: 1.78rem;
font-weight: 700;
line-height: 1.78rem;
}
  
}
















/* 
  Device = Tablets, 
768
*/

@media (min-width: 481px) and (max-width: 1024px){
  .top-section-mobile{
      display: none;
  }
.logo-img{
    display: none;
}

.mobile-tablet-logo{
    display: flex;
    flex: 1;
    /* color: #172339; */
    font-weight: bold;
    font-size: 1.78rem;
    /* line-height: 1.78rem; */
}

header{
    position: absolute;
    display: flex;
    width: 38.278rem;
    height: 2.67rem;
    align-items: center;
    margin: 2.22rem;
}


.nav-button button{
    height: 2.67rem;
    width: 12.167rem;
    border-radius: 0.187rem;
    background-color: transparent;
    /* color: #172339; */
    
    font-size:0.78rem;
    font-weight: bold;
}



/* Top section css */
.top-section-desktop-tablet{
    background: url("../assets/image-hero-portrait.png");
    position: absolute;
    top: 9.78rem;
    left: 2.167rem;
    width: 38.278rem;
    height:26.778rem ;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    
}


.top-section-data{
    display: block;
   
}


.top-section-data-left{
    margin-top: 3rem;
     width: 38.278rem;
    height:26.778rem ;
}

.top-section-data-left h1{
    
    width: 29.83rem;
    height: 7.16rem;
    font-size: 3.11rem;
    font-weight: 400;
    line-height: 3.556rem;
    letter-spacing: -0.043209889;
    margin-bottom: 2.22rem;
    /* margin-top: 10rem; */
   
}

.top-section-data-left h1 span{
    font-weight: bold;
}

.top-section-data-left img{
position: relative;
width: 12.84rem;
/* height: 1.61rem; */
left: 12.56rem;
top: 12.1489;

}

.top-section-data-left p{
    width: 19.44rem;
    height: 4.67rem;
    font-weight: 400;
    line-height: 1.56rem;
    letter-spacing: 0.0049rem;
    color: #49566D;
    font-size: 0.889;
}

.top-section-data-left button{
 height: 3.389rem;
    width: 14.22rem;
    border-radius: 0.33rem;
    background-color: #172339;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 2.22rem;
}

.top-section-data-right{
    display: flex;
    justify-content: space-evenly;
}


.ratings p{
    color: #49566D;
    line-height: 1.44rem;
    font-weight: 400;
    font-size: 0.889rem;
}

.ratings h1{
    line-height: 3.11rem;
    font-weight: 700;
    font-size: 2.67rem;
}

/* end of top-section css */


/* bottom-section css */

.image-jeremy{
    display: none;
}

.back-light{
    position: relative;
    top: 6rem;
}

.bottom-section-desktop-tablet{
    position: absolute;
    height: 38rem;
    width: 38.278rem;
    left: 2.167rem;
    top: 61.22rem;
    border-radius: 0.833rem;
    background-color:#172339;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.image-jeremy-tablet{
    
    height: 22.33rem;
    width: 14rem;
}


.image-jeremy-tablet img{
    position: relative;
    bottom: 24rem;
    width: auto;
    height: 100%;

}

.curved-image{
    position: relative;
    bottom: 20rem;
    
}



 

.right-text h2{
font-weight: 400rem;
font-size: 2.22rem;
line-height: 2.667rem;
 color:  #FAF8F6;
}

.right-text p{
    color: #F3EDE7;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.778rem ;
    letter-spacing: 0.005rem;
     padding:1rem 1.6rem;

    /* width: 31.83rem;
    height: 5.33rem; */
}

.right-text h3{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.77;
    color: #FAF8F6;
    padding-top: 1rem;
}

.right-text h4{

    font-weight: 400;
    font-size: 0.889rem;
    letter-spacing: 0.1389rem;
    color: #F3EDE7;
    line-height: 1.44rem;
}

.right-text{
     position: relative;
     bottom: 17rem;
     height: 15.67rem;
     width: 31.83rem;
     display: flex;
     flex-direction: column;
     margin-bottom: 3.556rem;
     margin-left: 3.22rem;
     margin-right: 3.22rem;
}
.image-jeremy-mobile{display: none;}
/* end of bottom section */

/* footer */


footer{
    position:  absolute;
    height: 35.56rem;
    width: 100%;
    top: 73.44rem; 
    background-color: #F3EDE7;
    z-index: 100;
}

.footer-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 38.278rem;
    height:1.78rem;
    left: 2.3rem;
    bottom: 4rem;
}

.copyright-info span{
    font-size: 0.83rem;
    font-weight: 400;
    line-height: 1.78rem;
}

.footer-socials ul li{
    display: inline;
    padding: 0.5rem;
   
  
}

.footer-logo{
font-size: 1.78rem;
font-weight: 700;
line-height: 1.78rem;
}
}














/* 
  Device =  Mobiles 
  
*/

@media (min-width: 320px) and (max-width: 480px) {
  

.logo-img{
    display: none;
}
header{
    position: absolute;
    display: flex;
   
    width: 19.06rem;
    height: 2.67rem;
    align-items: center;
    margin: 1.33rem 0.89rem;
   

}

.mobile-tablet-logo{
    display: flex;
    flex: 1;
    /* color: #172339; */
    font-weight: bold;
    font-size: 1.78rem;
    /* line-height: 1.78rem; */
}


.nav-button button{
    height: 2.66rem;
    width: 10.11rem;
    border-radius: 0.187rem;
    background-color: transparent;
    /* color: #172339; */
    font-size:0.78rem;
    font-weight: bold;
}

.top-section-desktop-tablet{
    display: none;
}


.top-section-mobile{
    display: flex;
    position: relative;
    top: 7.1rem;
   
    width: 19.06rem;
}

/* .top-section-data-mobile{
    margin-top: 10rem;
} */

.top-mobile img{
    position: relative;
    top: 0.1rem;
    width: 8.415rem;
    height: 1.056rem;
    left: 8.70rem;

}

.top-section-data-mobile h1{
    font-weight: 400;
    font-size: 2.1rem;
    line-height: 2.44rem;
   margin-top: 1.5rem;
   margin-bottom: 1.7rem;
    
}

.top-section-data-mobile h1 span{
    font-weight: bold;
}

.top-section-data-mobile .top-mobile p{
    /* width: 19.44rem; */
    /* height: 4.67rem; */
    font-weight: 400;
    line-height: 1.56rem;
    letter-spacing: 0.0049rem;
    color: #49566D;
    font-size: 0.889;
}

.top-section-data-mobile .top-mobile button{
    height: 3.389rem;
    width: 14.22rem;
    border-radius: 0.33rem;
    background-color: #172339;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 2.22rem;
}

.mobile-image{

 margin-top: 1.5rem;
    width: 19.05rem;
    height: 13.33;
    
}

.mobile-image img{
    width: 100%;
    height: auto;
}

.ratings{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratings p{
    color: #49566D;
    line-height: 1.44rem;
    font-weight: 400;
    font-size: 0.889rem;
}

.ratings h1{
    line-height: 3.11rem;
    font-weight: 700;
    font-size: 2.67rem;
}

/* end of top section mobile css */

/* bottom section */

.image-jeremy-tablet,.image-jeremy{
    display: none;
}

.bottom-section-desktop-tablet{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 41.556rem;
    width: 20.83rem;    
    top: 80.278rem;
    border-radius: 0.83rem;
    background-color:  #172339;
   
    align-items: center;
    text-align: center;
}
.back-light{
    position: relative;
    right:3rem;
    bottom: 10rem;
}

.image-jeremy-mobile{
    width: 19.056rem;
    height: 22.33rem;
}

.image-jeremy-mobile img{
    position: absolute;
    left: 3.5rem;
    bottom: 29.278rem;
    height: auto;
    width: 14rem;
}


.curved-image{
    position: absolute;
     top: 14.5rem;
   
}



 

.right-text h2{
font-weight: 400rem;
font-size: 2.22rem;
line-height: 2.667rem;
 color:  #FAF8F6;
 padding-top: 1rem;
}

.right-text p{
    color: #F3EDE7;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.778rem ;
    letter-spacing: 0.005rem;
     padding:1rem 1.6rem;

   
}

.right-text h3{
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.77;
    color: #FAF8F6;
    padding-top: 1rem;
}

.right-text h4{

    font-weight: 400;
    font-size: 0.889rem;
    letter-spacing: 0.1389rem;
    color: #F3EDE7;
    line-height: 1.44rem;
}


.right-text{
     position: relative;
     bottom: 12.7rem;
     display: flex;
     flex-direction: column;
     /* margin: 0.8rem; */
     justify-content: space-evenly;  
}  


/* footer */


footer{
    position:  absolute;
    width: 25rem;
    height: 23.33rem;
    top: 109.389rem;
    background-color: #F3EDE7;
    z-index: 100;
}

.footer-items{
  
    position: absolute;
    height: 8.33rem;
    width: 6.944rem;
    left: 9.9167rem;
    /* bottom: 4.44rem; */
    top: 13.56rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}


.copyright-info span{
    font-size: 0.83rem;
    font-weight: 400;
    line-height: 1.78rem;
}

.footer-socials ul li{
    display: inline;
    padding: 0.5rem;
   
  
}

.footer-logo{
font-size: 1.78rem;
font-weight: 700;
line-height: 1.78rem;
}
}


 .top-button-active {
    transition: background 1ms;     
}

.top-button-active:active {
   background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);

}


.header-button{
    
    
    transition: background 1ms;  
     transition: color 1ms;
    
}

.header-button:active{
     background: #172339;
      color: #f4f6f8;
      
}
